In [2]:
import pandas as pd
import numpy as np

In [5]:
# load the training data and test data

train = pd.read_csv('Data/train.csv')
test = pd.read_csv('Data/test.csv')

print("Number of training examples: ", train.shape[0])
print("Training shape: ", train.shape, "\n")
print("Number of test examples: ", test.shape[0])
print("Test shape: ", test.shape, "\n")

print("Columns in training data: ", train.columns.values)

Number of training examples:  891
Training shape:  (891, 12)

Number of test examples:  418
Test shape:  (418, 11)

Columns in training data:  ['PassengerId' 'Survived' 'Pclass' 'Name' 'Sex' 'Age' 'SibSp' 'Parch'
 'Ticket' 'Fare' 'Cabin' 'Embarked']

In [8]:
train.head()
train.info()
train.sample(3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
431,432,1,3,"Thorneycroft, Mrs. Percival (Florence Kate White)",female,NaN,1,0,376564,16.1000,NaN,S
477,478,0,3,"Braund, Mr. Lewis Richard",male,29.0,1,0,3460,7.0458,NaN,S
378,379,0,3,"Betros, Mr. Tannous",male,20.0,0,0,2648,4.0125,NaN,C

In [10]:
### Missing values
def display_missing(df):
    for col in df.columns.tolist():
        if df[col].isnull().sum() != 0:
            print(f'{col} column missing values:{df[col].isnull().sum()}')
    print('\n')

display_missing(train)
display_missing(test)

Age column missing values:177
Cabin column missing values:687
Embarked column missing values:2


Age column missing values:86
Fare column missing values:1
Cabin column missing values:327